/************************RULES ****************************/
body{
  margin: 0;
  text-align: center;
}
h1{
    width: 10%;
    padding-top: 15%;
    text-align: center;
    margin: auto auto;
}
body, h2, h3, h4, h5, h6{
    font-family: Georgia, Times, sans-serif;
 
   
}
/*******************CLASSES *************************/
.nav-bar-button{
	padding: 10px 20px;
	float: left;
	border: none;
	display: block;
	text-decoration: none;
	color: rgb(0, 0, 0);
	background-color: inherit;
	cursor: pointer;
    transition-duration: 0.5s;
} 
.nav-bar-button:hover{
	background-color: rgb(233, 233, 233);
	color: rgb(41, 41, 41);
}
.nav-bar-signature{
	float: right;
	border: none;
}

.underline{
  font-style: italic;
}
.signature{
    float: right;
}
/*******************ID ******************************/
#nav-bar{
	width: 100%;
    overflow: hidden;
}
#home-background{
    height: 1600px;

}
#about-background{
    
}
#projects-background{

}
#contactme-background{

}
#bottom-bar{

}