/************************RULES ****************************/
body{
    margin: 0;
    font-family: verdana, sans-serif;
}
p{
    font-size: 15px;
}
h1{
    font-size: 50px;
    text-align: center;
}
@font-face{
    font-family: "America";
    src: url("/America.ttf");
}
/*******************CLASSES *************************/
.nav-bar-button{
	padding: 1.45% 2%;
    float: left;
	/*border: none;*/
	display: block;
	text-decoration: none;
	color: rgb(0, 0, 0);
	background-color: inherit;
	cursor: pointer;
    transition-duration: 0.5s;
    
} 
.nav-bar-button:hover{
	background-color: transparent;
    color: rgb(148, 147, 147);
    border-style: solid;
    border-color: rgb(30, 110, 201);
    padding-bottom: 1.3%;
    border-top: 0;
    border-left: 0;
    border-right: 0;
    
}
.nav-bar-signature{
	float: right;
	border: none;
}
.home-text{
    width: 20%;
    margin-left: 20%;
    padding-top: 20%;
    text-align: center;
    display: inline-block;
}
.home-background{
    display: inline-block;
    background: url("/pic/background.png");
    width: 100%;
    height: 1000px;
    background-size: cover;
}
.project-image{
    display: inline-block;
    text-align: center;
    width: 300px;
    height:300px;
    padding-left: 5%;
    padding-right: 10px;
    background-color: yellow;
}
.signature{
    font-family: "America";
    font-size: 30px;
    border-top: 0%;
    padding: 1.25% 2%;
    margin: 0%;
	float: right;
}
/*******************ID ******************************/
#nav-bar{
    position: fixed;
    top: 0;
    height: 7.5%;
	width: 100%;
    overflow: hidden;
    background-color: white;
    border-bottom: solid rgb(179, 179, 179) 2px;
}

#about-picture{
    margin: none;
    padding: none;
    height: 750px;
    width: 100%;
    float: left;
    background-color: rgb(75, 75, 43);
}
#about-info{
    margin: none;
    padding: none;
    height: 750px;
    width: 60%;
    float:right;
    background-color: rgb(131, 15, 15);
}
#projects-background{
    display: inline-block;
    text-align: center;
    height: auto;
    width: 100%;
    background-size: cover;
}
#contactme-background{
    display: inline-block;
    height: 100%;
    width: 100%;
    background-size: cover;
}
#bottom-bar{
    height: 20%;
}

